[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[phases.deploy]
cmds = ["npx prisma migrate deploy"]

[start]
cmd = "npm start"
